
.search{
    position: relative;
    left: 10%;
    top: 3%;
    margin-top: 15px;
    background-color: #fbf2ea;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    font-size: 20px;
    font-family: Lato,sans-serif;
    width: 15%;
}

#ordernarLabel{
    position: relative;
    left: 65%;
    top: 3%;
    font-family: "Lato B",sans-serif;
    margin-top: 15px;
    font-size: 20px;
}

#ordernar{
    background-color: #fbf2ea;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    font-size: 16px;
    font-family: Lato,sans-serif;
    width: 8%;
}


.filter{
    position: relative;
    display: inline-block;
    top: 5%;
    margin-left: 50px;
    width: 15%;
    height: 400px;
    background-color: #faefe6;
    border:3px solid rgba(0,0,0,0.7);
    border-radius: 25px;
}
.result{
    overflow-x: auto;
    position: relative;
    top: 5%;
    float:right;
    width: 75%;
    height:750px;
}
