
.search{
    position: relative;
    left: 10%;
    top: 3%;
    margin-top: 15px;
    background-color: #fbf2ea;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    font-size: 20px;
    font-family: Lato,sans-serif;
    width: 15%;
}

#ordernarLabel{
    position: relative;
    left: 65%;
    top: 3%;
    font-family: "Lato B",sans-serif;
    margin-top: 15px;
    font-size: 20px;
}

#ordernar{
    background-color: #fbf2ea;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 15px;
    font-size: 16px;
    font-family: Lato,sans-serif;
    width: 8%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.cell{
    position: relative;
    display: inline-block;
    top: 5%;
    margin-left: 50px;
    width: 276px;
    height: 338px;
    background-color: #faefe6;
    border:1px solid #000000;
    border-radius: 25px;
}

.cell-container {
    text-align: center;
    font-family: Futura;
    height: 100%;
}

.cell-image {
    margin-top: 20px;
    width: 112px;
    height: 161px;
}

.cell-information {
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}

.cell-button {
    width: 90%;
    color: #000;
    background-color: #F2FAB5;
    border-radius: 22px;
    font-size: 15px;
    font-family: Futura;
    margin-top: 30px;
}

.cell-title {
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}

.cell-subtitle {
    margin-top: 10px;
    display: block;
    width: 100%;
    font-size: 15px;
    color: #676767;
}

.result{
    overflow-x: auto;
    position: relative;
    top: 5%;
    float:right;
    width: 75%;
    height:750px;
}
